<tr>
  <td>{{this.name}}</td>
  <td>{{this.cpf}}</td>
  <td>{{this.creci}}</td>
  <td>
    <button id="{{this.id}}" onclick="toEdit(this.id)">Editar</button>
  </td>
  <td>
    <button id="{{this.id}}" onclick="toRemove(this.id)">Remover</button>
  </td>
</tr>