{{#if toEdit}}
<h1>Editar Corretor</h1>
{{else}}
<h1>Cadastrar Corretor</h1>
{{/if}}


<form id="broker-form" action="{{ url }}" method="POST">
  <div>
    <input type="hidden" name="id" value="{{toEdit.id}}">
    <label for="name">Nome:</label>
    <input value="{{toEdit.name}}" type="text" id="name" name="name" placeholder="Digite o Nome" required>
  </div>
  <div>
    <label for="cpf">CPF:</label>
    <input value="{{toEdit.cpf}}" type="text" id="cpf" name="cpf" placeholder="Digite o CPF" required>
  </div>
  <div>
    <label for="creci">CRECI:</label>
    <input value="{{toEdit.creci}}" type="text" id="creci" name="creci" placeholder="Digite o CRECI" required>
  </div>
  {{#if toEdit}}
  <input type="submit" value="Salvar">
  {{else}}
  <input type="submit" value="Cadastrar">
  {{/if}}
</form>

<p style="display: block" id="msg"></p>
<p id="message" class="{{message.type}}">{{message.content}}</p>

<hr>
{{#if corretores}}
<h2>Corretores Cadastrados:</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>CRECI</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    {{#each corretores}}
    {{> brokers}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h2>Não há corretores cadastrados.</h2>
{{/if}}